<div id="boss-hp-bar" class="hp-bar-container">
  <div class="container">
    <div class="ornament-left"></div>
    <div class="token-container">
      <div id="bg-ornamen" class="bg-ornamen"></div>
      <img id="image-token" class="image-token" />
      <div id="icon-ornamen" class="icon-ornamen"></div>
    </div>
    <div class="hpdanbar">
      <div class="nametoken-container">
        <div id="name-token" class="name-token"></div>
      </div>
      <div class="uphp">
        <div id="mystic-action" class="mystic-action"></div>

        <div id="legact-container" class="legact-container"></div>
      </div>
      <div id="hp-container" class="hp-container">
        <div id="hpbg" class="hpbg">
          <div id="temphp-bar" class="temphp-bar"></div>
          <div id="bgtemphp-bar" class="bgtemphp-bar"></div>
          <div id="hp-bar" class="hp-bar"></div>
          <div id="bghp-bar" class="bghp-bar"></div>
        </div>
        <div id="hp-percent" class="hp-percent"></div>
      </div>
      <div class="underHp">
        <div id="effects-container" class="effects-container"></div>
        <div id="legres-container" class="legres-container"></div>
      </div>
    </div>
    <div class="ornament-right"></div>
  </div>
</div>
