<div id="heraldBossbar" class="heraldBossbar">
  <div class="heraldBossbar-container">
    <div class="heraldBossbar-leftornament"></div>
    <div class="heraldBossbar-tokencontainer">
      <div id="heraldBossbar-bgornament" class="heraldBossbar-bgornament"></div>
      <img id="heraldBossbar-imagetoken" class="heraldBossbar-imagetoken" />
      <div id="heraldBossbar-iconornament" class="heraldBossbar-iconornament"></div>
    </div>
    <div class="heraldBossbar-hpbarcontainer">
      <div class="heraldBossbar-nametokencontainer">
        <div id="heraldBossbar-nametoken" class="heraldBossbar-nametoken"></div>
      </div>
      <div class="heraldBossbar-topcontainer">
        <div id="heraldBossbar-mysticaction" class="heraldBossbar-mysticaction"></div>
        <div id="heraldBossbar-legactcontainer" class="heraldBossbar-legactcontainer"></div>
      </div>
      <div id="heraldBossbar-hpcontainer" class="heraldBossbar-hpcontainer">
        <div id="heraldBossbar-hpbg" class="heraldBossbar-hpbg">
          <div id="heraldBossbar-temphpbar" class="heraldBossbar-temphpbar"></div>
          <div id="heraldBossbar-bgtemphpbar" class="heraldBossbar-bgtemphpbar"></div>
          <div id="heraldBossbar-hpbar" class="heraldBossbar-hpbar"></div>
          <div id="heraldBossbar-bghpbar" class="heraldBossbar-bghpbar"></div>
        </div>
        <div id="heraldBossbar-hpvalue" class="heraldBossbar-hpvalue"></div>
      </div>
      <div class="heraldBossbar-bottomcontainer">
        <div id="heraldBossbar-effectscontainer" class="heraldBossbar-effectscontainer"></div>
        <div id="heraldBossbar-legrescontainer" class="heraldBossbar-legrescontainer"></div>
      </div>
    </div>
    <div class="heraldBossbar-rightornament"></div>
  </div>
</div>
