<div id="boss-hp-bar" class="hp-bar-container">
  <div class="container">
    <div class="ornament-left"></div>
    <div class="token-container">
      <div id="bg-ornamen" class="bg-ornamen"></div>
      <img id="image-token" class="image-token" />
      <div id="icon-ornamen" class="icon-ornamen"></div>
    </div>
    <div class="hpdanbar">
      <div class="uphp">
        <div id="mystic-action" class="mystic-action"></div>
        <div id="name-token" class="name-token"></div>
        <div id="legact-container" class="legact-container"></div>
      </div>
      <div id="wbhp-container" class="wbhp-container">
        <div id="wbtemphpbg" class="wbtemphpbg">
          <div id="wbtemphp-bar" class="wbtemphp-bar"></div>
          <div id="wbbgtemphp-bar" class="wbbgtemphp-bar"></div>
        </div>
        <div id="wbtemp-max" class="wbtemp-max"></div>
        <div id="wbhpbg" class="wbhpbg">
          <div id="wbhp-bar" class="wbhp-bar"></div>
          <div id="wbbghp-bar" class="wbbghp-bar"></div>
        </div>
        <div id="wbhp-percent" class="wbhp-percent"></div>
      </div>
      <div class="wbunderHp">
        <div id="effects-container" class="effects-container"></div>
        <div id="legres-container" class="legres-container"></div>
      </div>
    </div>
    <div class="ornament-right"></div>
  </div>
</div>
