<div id="heraldBossbar" class="heraldBossbar">
  <div class="heraldBossbar-container">
    <div class="heraldBossbar-leftornament"></div>
    <div class="heraldBossbar-tokencontainer">
      <div id="heraldBossbar-bgornament" class="heraldBossbar-bgornament"></div>
      <img id="heraldBossbar-imagetoken" class="heraldBossbar-imagetoken" />
      <div id="heraldBossbar-iconornament" class="heraldBossbar-iconornament"></div>
    </div>
    <div class="heraldBossbar-hpbarcontainer">
      <div class="heraldBossbar-nametokencontainer">
        <div id="heraldBossbar-nametoken" class="heraldBossbar-nametoken"></div>
      </div>
      <div class="heraldBossbar-topcontainer">
        <div id="heraldBossbar-mysticaction" class="heraldBossbar-mysticaction"></div>
        <div id="heraldBossbar-legactcontainer" class="heraldBossbar-legactcontainer"></div>
      </div>
      <div id="heraldBossbar-wbhpcontainer" class="heraldBossbar-wbhpcontainer">
        <div id="heraldBossbar-wbtemphpbg" class="heraldBossbar-wbtemphpbg">
          <div id="heraldBossbar-wbtemphpbar" class="heraldBossbar-wbtemphpbar"></div>
          <div id="heraldBossbar-wbbgtemphpbar" class="heraldBossbar-wbbgtemphpbar"></div>
        </div>
        <div id="heraldBossbar-wbtempmax" class="heraldBossbar-wbtempmax"></div>
        <div id="heraldBossbar-wbhpbg" class="heraldBossbar-wbhpbg">
          <div id="heraldBossbar-wbhpbar" class="heraldBossbar-wbhpbar"></div>
          <div id="heraldBossbar-wbbghpbar" class="heraldBossbar-wbbghpbar"></div>
        </div>
        <div id="heraldBossbar-wbhpvalue" class="heraldBossbar-wbhpvalue"></div>
      </div>
      <div class="heraldBossbar-wbbottomcontainer">
        <div id="heraldBossbar-effectscontainer" class="heraldBossbar-effectscontainer"></div>
        <div id="heraldBossbar-legrescontainer" class="heraldBossbar-legrescontainer"></div>
      </div>
    </div>
    <div class="heraldBossbar-rightornament"></div>
  </div>
</div>
