
.heraldBossbar {
    position: fixed;
    top: 120px;
    left: 40%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heraldBossbar-container {
    display: flex;
    width: 100%;
}

.heraldBossbar-tokencontainer {
    position: relative;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-right: 40px;
}

.heraldBossbar-hpbarcontainer {
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: -10px;
}

.app.window-app.sheet {
    z-index: 100;
}

.heraldBossbar-nametokencontainer {
    position: relative;
    text-align: center;
    margin-top: 10px;

}

.heraldBossbar-nametoken {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.heraldBossbar-topcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.heraldBossbar-imagetoken {
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0 0 10px 5px #ff7f00;
    transition: box-shadow 0.3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    -webkit-transform: translate(-30%, -50%);
    -moz-transform: translate(-30%, -50%);
    -ms-transform: translate(-30%, -50%);
    -o-transform: translate(-30%, -50%);
}

@keyframes heraldBossbar-rotateOrnament {
    from {
        transform: translate(-40%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-40%, -50%) rotate(360deg);
    }
}

.heraldBossbar-bgornament {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
    background-image: url('/modules/herald-bossbar/assets/bg_ornamen_token.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    animation: heraldBossbar-rotateOrnament 5000ms linear infinite;
    -webkit-animation: heraldBossbar-rotateOrnament 5000ms linear infinite;
}

.heraldBossbar-iconornament {
    position: absolute;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-image: url('/modules/herald-bossbar/assets/icon_ornamen_token.webp');
    background-repeat: no-repeat;
    background-size: contain;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.heraldBossbar-hpcontainer {
    position: relative;
    width: 100%;
    height: 100%;
  
   
}

.heraldBossbar-hpbg {
    flex-grow: 1;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/background_hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    position: relative;
    overflow: hidden;


}

.heraldBossbar-bghpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-color: #ffb8b3;
    transition: width 1s ease-in-out;
}

.heraldBossbar-hpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 500ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
}


.heraldBossbar-bgtemphpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-color: #b3e3ff;
    transition: width 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.heraldBossbar-temphpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/temporary_hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 500ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.heraldBossbar-hpvalue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    color: white;
    z-index: 5;
}


.heraldBossbar-maimage {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: none;
    display: inline-block;

}

.heraldBossbar-tokeneffect {
    border: 1px solid white;
    width: 30px;
    height: 30px;
}


.heraldBossbar-leftornament, .heraldBossbar-rightornament {
    position: absolute;
    top: 90%;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

.heraldBossbar-leftornament {
    left: -170px;
    background-image: url('/modules/herald-bossbar/assets/left_ornament.png');
    transform: translateY(-50%);
}

.heraldBossbar-rightornament {
    right: -170px;
    background-image: url('/modules/herald-bossbar/assets/right_ornament.webp');
    transform: translateY(-50%);
}



.heraldBossbar-legactcontainer {
    margin-right: 5px;
    display: flex;
    gap: 5px;
}

.heraldBossbar-legacteffect {
    border: none;
    width: 30px;
    height: 30px;
}

.heraldBossbar-bottomcontainer {
    display: flex;
    justify-content: space-between;
}

.heraldBossbar-effectscontainer {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.heraldBossbar-legrescontainer {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    gap: 5px;
}

.heraldBossbar-legreseffect {
    border: none;
    width: 30px;
    height: 30px;
}

/* wekaness broken  */

.heraldBossbar-wbhpcontainer {
    position: relative;
    width: 100%;
    height: 100%;
  
}

.heraldBossbar-wbbghpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-color: #ffb8b3;
    transition: width 1s ease-in-out;
}

.heraldBossbar-wbhpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 500ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
}


.heraldBossbar-wbbgtemphpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-color: #b3e3ff;
    transition: width 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.heraldBossbar-wbtemphpbar {
    width: 10%;
    flex-grow: 1;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/temporary_hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 500ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.heraldBossbar-wbtemphpbg {
    flex-grow: 1;
    margin-bottom: 2px;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/background_hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
}

.heraldBossbar-wbhpbg {
    flex-grow: 1;
    height: 100%;
    background-image: url('/modules/herald-bossbar/assets/background_hp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
}

.heraldBossbar-wbhpvalue {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    color: white;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.heraldBossbar-wbbottomcontainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.heraldBossbar-wbtempmax {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    color: white;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.heraldBossbar-effecttooltip {
    width: 300px;
    position: fixed;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    z-index: 1000;
}

.heraldbossbar-detaileffecttop {
    display: flex;
}

.heraldbossbar-detaileffectduration {
    padding: 4px;
    display: inline-block;
    background-color: rgba(255, 51, 0, 0.5);
    border-radius: 4px;
}

.heraldbossbar-detaileffecttype {
    padding: 4px;
    display: inline-block;
    background-color: rgba(0, 140, 255, 0.5);
    border-radius: 4px;
}

.heraldBossbar-stackeffect {
    position: absolute;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 0;
    bottom: 2px;
    right: 2px;
}

.heraldBossbar-effectdetailcontainer {
    position: relative;
    display: inline-block;
}